* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.header_customer {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
}

.header_customer__container {
    display: flex;
    align-items: center;
}

.header_customer__logo img {
    max-width: 100px;
    height: auto;
}

.header_customer__content {
    margin-left: 20px;
}

.header_customer__title {
    font-weight: bold;
}

.header_customer__description {
    font-size: 16px;
    line-height: 1.5;
}

.main_customer {
    padding: 20px;
}

.services_customer {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 80%;
}

.services_customer__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.services_customer__elips {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.services_customer__title {
    font-size: 24px;
    font-weight: bold;
}

.services_customer__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.service_customer {
    padding: 20px;
    display: flex;
}

.service_customer__icon {
    max-width: 70px;
    height: 70px;
    margin-right: 20px;
}

.service_customer__text {
    flex: 1;
}

.service_customer__subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service_customer__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.service_customer__process-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service_customer__list {
    list-style: disc inside;
}

.cta_customer {
    position: relative;
    background: linear-gradient(to right, #e0f7fa, #80deea);
    background-image: url('./fixtures/skyBg.png');
    background-size: 150% auto;
    background-position: center;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

.cta_customer__content {
    z-index: 2;
}

.cta_customer__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta_customer__description {
    font-size: 16px;
    margin-bottom: 20px;
}

.cta_customer__buttons {
    display: flex;
    gap: 10px;
}

.cta_customer__button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta_customer__button--primary {
    background-color: #ff9800;
    color: #fff;
}

.cta_customer__button--primary:hover {
    background-color: #e68900;
}

.cta_customer__button--secondary {
    background-color: #ffffff;
    color: #ff9800;
    border: 2px solid #ff9800;
}

.cta_customer__button--secondary:hover {
    background-color: #ff9800;
    color: #ffffff;
}

.cta_customer__image {
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: translateY(21%);
    z-index: 1;
}

.cta_customer__worker-image {
    max-width: 84%;
    height: auto;
}

.pricing_customer {
    padding: 40px;
    margin: 80px auto;
    max-width: 80%;
}

.pricing_customer__header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.pricing_customer__elips {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.pricing_customer__title {
    font-size: 24px;
    font-weight: bold;
}

.pricing_customer__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing_customer__card {
    padding: 20px;
    flex: 1;
    min-width: 220px;
    max-width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

.pricing_customer__image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.pricing_customer__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pricing_customer__form {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.pricing_customer__price-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.pricing_customer__price {
    background-color: #007bff;
    color: #fff;
    padding: 9px 9px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pricing_customer__price:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pricing_customer__dimensions {
    border: #666 solid 1px;
    font-size: 9px;
    color: #666;
    padding: 10px;
    border-radius: 5px;
    width: 110px;
    transition: all 0.3s ease;
}

.pricing_customer__dimensions:hover {
    border-color: #007bff;
    transform: rotate(-2deg);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.pricing_customer__dimensions:focus {
    border-color: #ff9800;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.5);
    outline: none;
}

.pricing_customer__button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pricing_customer__main-button {
    background-color: #ff9800;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pricing_customer__main-button:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

.why-choose-us_customer {
    padding: 40px;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

.why-choose-us_customer__header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

.why-choose-us_customer__elips {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.why-choose-us_customer__title {
    font-size: 24px;
    font-weight: bold;
}

.why-choose-us_customer__stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.why-choose-us_customer__stat {
    text-align: center;
}

.why-choose-us_customer__number {
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
}

.why-choose-us_customer__text_gray {
    font-size: 14px;
    color: #666;
}

.why-choose-us_customer__text {
    font-size: 14px;
}

.why-choose-us_customer__features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.why-choose-us_customer__feature {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 250px;
    padding: 20px;
}

.why-choose-us_customer__icon {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 5px;
}

.why-choose-us_customer__feature-text {
    font-size: 14px;
    color: #666;
    text-align: left;
}

.testimonials_customer {
    padding: 40px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

.testimonials_customer__header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.testimonials_customer__elips {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.testimonials_customer__title {
    font-size: 24px;
    font-weight: bold;
}

.testimonials_customer__content {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    padding: 20px 0;
}

.testimonials_customer__card {
    background: url('fixtures/bgForPerson.png') center no-repeat;
    background-size: 300%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    flex: 0 0 auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.testimonials_customer__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonials_customer__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonials_customer__text {
    font-size: 14px;
    color: #666;
}

.testimonials_customer__arrow {
    background: none;
    font-size: 100px;
    color: #888;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.testimonials_customer__arrow:hover {
    color: #0056b3;
}

.testimonials_customer__arrow--left {
    margin-right: auto;
}

.testimonials_customer__arrow--right {
    margin-left: auto;
}

@media (max-width: 768px) {
    .header_customer__container {
        flex-direction: column;
        text-align: center;
    }
    .header_customer__content {
        margin-left: 0;
        margin-top: 20px;
    }
    .services_customer__content {
        flex-direction: column;
    }
    .service_customer {
        flex-direction: column;
        align-items: center;
    }
    .service_customer__icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .service_customer__text {
        text-align: center;
    }
    .cta_customer {
        flex-direction: column;
        text-align: center;
        background-size: 1000% 1000%;
        background-position: center;
    }
    .cta_customer__image {
        position: relative;
        right: 0;
        transform: translateY(0);
        margin-top: 20px;
    }
    .cta_customer__worker-image {
        max-width: 100%;
    }
    .pricing_customer__content {
        flex-direction: column;
    }
    .pricing_customer__item {
        flex: 1 1 100%;
    }
    .pricing_customer__price {
        font-size: 8px;
    }
    .why-choose-us_customer__stats {
        flex-direction: column;
        align-items: center;
    }
    .why-choose-us_customer__features {
        flex-direction: column;
        align-items: center;
    }
    .why-choose-us_customer__feature {
        width: 100%;
        max-width: 300px;
    }
    .testimonials_customer__content {
        flex-direction: column;
        align-items: center;
    }
    .testimonials_customer__card {
        width: 100%;
        max-width: 400px;
    }
    .testimonials_customer__arrows {
        justify-content: center;
    }
    .testimonials_customer__arrow--left,
    .testimonials_customer__arrow--right {
        margin: 0 10px;
    }
}
